body{
    background-color: aqua;

}

.page1 button{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background-color: black;
}
.button1{
  display: flex;
 
  justify-content: center;
  
  margin-top: 33vh;
   
    
}
.button2{
    display: flex;
   
    justify-content: center;
    
   
     
      
  }